#navbar {
  display: flex;

}

#navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;

}

#navbar li {
  white-space: nowrap;
  margin: 10px;

}

#navbar div.right-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

ul.right a {
  text-decoration: none;
  color: black;
}

#navbar ul.right li a.primeros {
  color: white;
  background: #572364;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;

}

#navbar ul.left li a {
  color:black;
  text-decoration: none;
}

#navbar ul.right {
  margin-right: 100px;
}

/*NAVBAR HASTA ACA*/

h1.header-1 {
  font-size: 50px;
  font-family: arial;

}

h2.header-2 {
  font-family: arial;
}

div.container-inicio {
  margin-left: 0px;
  background-image: url('../images/gif1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
div.container-margin {
  margin-left: 50px;
}
/* div container1*/
div.box-container {
  display: flex;
  justify-content: flex-start;
  font-family: arial;

}

div.box-container p.box-1 {
  color: white;
  background: #572364;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  margin-right: 10px;
}

div.box-container p.box-2 {
  color: #572364;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  padding: 10px;
  font-weight: bold;
}

/*div container 2*/

div.box-container2 {
  display: flex;
  font-family: arial;
  justify-content: flex-start;

}
div p.box-3 {
  margin-right: 10px;
}

/*segunda parte*/

h1.header-3 {
    font-size: 45px;
    font-family: arial;
}

h3.header-4 {
  font-family: arial;
  font-size: 17px;

}

div.container-video {
  text-align: center;
  margin-top: 100px;

}

iframe {
  display:flex;
  justify-content: center;

}

div.cajas {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #c0c0c0;
  margin-top: 30px;
  padding: 30px;
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
}


div.cajas p {
  margin: 30px;


}
